<div class="d-flex flex-column justify-content-center min-vh-100 p-3 p-sm-5">
  <form
    class="max-w-500 d-flex flex-column w-100 my-0 mx-auto"
    [formGroup]="form"
    (ngSubmit)="calculate()"
  >
    <div class="d-flex justify-content-center gap-3 gap-sm-4 w-100">
      <div class="focus position-relative">
        <input
          formControlName="focus"
          class="w-100 px-3 fs-5 fw-semibold border border-danger border-3 rounded"
          placeholder="Focus"
          type="number"
          max="9999"
          min="0"
          (keydown)="validateInput($event, '^[0-9]+$')"
        >
      </div>

      <div class="limit position-relative">
        <input
          formControlName="limit"
          class="w-100 px-3 fs-5 fw-semibold border border-danger border-3 rounded"
          placeholder="Limit"
          type="number"
          max="6"
          min="0"
          (keydown)="validateInput($event, '^[1-6]+$')"
        >
      </div>
    </div>

    <div class="d-flex justify-content-center gap-3 gap-sm-4 w-100 mt-3 mt-sm-4">
      <button
        class="fs-3 fw-bold btn btn-danger"
        type="submit"
        [disabled]="form.invalid"
      >
        CALCULATE
      </button>

      <button
        class="fs-3 fw-bold btn btn-primary"
        type="button"
        (click)="clear()"
      >
        CLEAR
      </button>
    </div>
  </form>

  <div
    *ngIf="result; else message"
    class="d-flex justify-content-around gap-4 mt-3 mt-sm-4 mx-auto px-4 bg-danger rounded"
  >
    <ul class="fs-1 fw-bolder text-light">
      <li
        *ngFor="let skill of skillsOrder.slice(0, 3)"
        class="skill position-relative my-3 my-sm-4"
      >
        <img
          alt="skill"
          height="245"
          width="240"
          [src]="'../assets/images/' + skill + '.png'"
        >
        <span class="position-absolute top-50 start-50 translate-middle">
          {{ skills[skill] }}
        </span>
      </li>
    </ul>

    <ul class="fs-1 fw-bolder text-light">
      <li
        *ngFor="let skill of skillsOrder.slice(3)"
        class="skill position-relative my-3 my-sm-4"
      >
        <img
          alt="skill"
          height="245"
          width="240"
          [src]="'../assets/images/' + skill + '.png'"
        >
        <span class="position-absolute top-50 start-50 translate-middle">
          {{ skills[skill] }}
        </span>
      </li>
    </ul>
  </div>

  <ng-template #message>
    <p class="max-w-500 w-100 mt-3 mt-sm-4 mx-auto py-2 fs-5 fw-bold rounded bg bg-danger text-center text-light">
      Impossible to count :(
    </p>
  </ng-template>
</div>
